
  @font-face {
    font-family: "Graphik LCG";
    src: url("../fonts/GraphikLCG-Regular.eot");
    src: url("../fonts/GraphikLCG-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GraphikLCG-Regular.eotGraphikLCG-Regular.woff2") format("woff2"),
        url("../fonts/GraphikLCG-Regular.eotGraphikLCG-Regular.woff") format("woff"),
        url("../fonts/GraphikLCG-Regular.eotGraphikLCG-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Graphik LCG";
    src: url("../fonts/GraphikLCG-Regular.eotGraphikLCG-Semibold.eot");
    src: url("../fonts/GraphikLCG-Regular.eotGraphikLCG-Semibold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GraphikLCG-Regular.eotGraphikLCG-Semibold.woff2") format("woff2"),
        url("../fonts/GraphikLCG-Regular.eotGraphikLCG-Semibold.woff") format("woff"),
        url("../fonts/GraphikLCG-Regular.eotGraphikLCG-Semibold.ttf") format("truetype");
    font-weight: 600;
}

