* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-grey: #CCC;
  --color-orange: #FF6336;
  --color-darkorange: #FF9C7D;
  --color-almost-white: #FFF;
  --color-bege: #FFF8E4;
  --color-darkbege: #DABC98;
  --color-blue: #C9E8F2;
  --font-size-xxxs: 12px;
  --font-size-xxs: 14px;
  --font-size-xs: 15px;
  --font-size-s: 16px;
  --font-size-xxm: 17px;
  --font-size-xm: 18px;
  --font-size-m: 20px;
  --font-size-l: 25px;
  --font-size-xl: 30px;
  --font-size-xxl: 35px;
  --font-size-xxxl: 50px;
  --font-size-xxxxl: 65px;
}

body {
  font-family: 'Graphik LCG', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: var(--color-black);
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.section-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  margin: 33px 40px 33px 0;
}

header .nav a {
  padding: 8px 0 12px;
  text-decoration: none;
  margin-right: 40px;
  color: var(--color-black);
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: 20px;
}

.btn-left {
  margin: 10px 0px;
  padding: 14px 35px;
  background-color: var(--color-almost-white);
  border: 1px solid rgba(0, 0, 0, 0.50);
  font-size: var(--font-size-16);
  font-weight: 600;
  line-height: 45px
  max-width: 120px;
}

.btn-right {
  margin: 25px 10px;
  padding: 15px 20px;
  color: var(--color-almost-white);
  background-color: var(--color-orange);
  font-size: var(--font-size-16);
  border: 0;
  max-width: 120px;
}

hr {
  color: var(--color-grey);
}

.hero-section {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.hero-section h1 {
  font-size: var(--font-size-xxxxl);
  line-height: 70px;
  max-width: 552px;
  padding: 32px 0 51px 20px;
}

.btn-try {
  margin: 25px 10px 25px 20px;
  padding: 15px 20px;
  color: var(--color-almost-white);
  background-color: var(--color-orange);
  font-size: var(--font-size-16);
  border: 0;
  max-width: 120px;
}

.btn-demo {
  max-width: 140px;
  margin: 25px 10px;
  padding: 14px 8px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  font-size: var(--font-size-16);
  background-color: var(--color-almost-white);
}


.descriptionbig_top {
  max-width: 471px;
  font-size: var(--font-size-l);
  padding: 0 30px 25px 20px;
  font-weight: 400;
  line-height: 35px;
}

.descriptionsmall_top {
  max-width: 369px;
  margin: 0 0 25px 20px;
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: 25px;
}

.top_img {
  max-width: 695px;
}

.company-section {
  background-color: var(--color-darkorange);
  margin: 47px 0 100px 0;
  padding: 100px 20px;
}

.company-section h2 {
  font-size: var(--font-size-xxxl);
  background-color: var(--color-darkorange);
  max-width: 720px;
  margin: 0 230px 70px 340px;
  padding: 20px;
  line-height: 60px;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 100px 0 100px 0;
}

.project h2 {
  font-size: var(--font-size-xxxl);
  width: 100%;
  line-height: 60px;
  font-weight: 600;
  line-height: 60px;
}

.project p {
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: 30px;
  padding: 30px 0px 30px 0;
}

.project span {
  font-size: var(--font-size-m);
  line-height: 30px;
}

.project .col-section {
  margin: 151px 120px 151px 20px;
}

.project .col-section_2 {
  margin: 151px 70px 115px 138px;
}

.project .col-section_3 {
  margin: 156px 130px 168px 20px;
}

.project .col-section_4 {
  margin: 123px 20px 124px 130px;
}

.project img {
  max-width: 632px;
}

.col-section p {
padding-right: 45px;
}


span.underline {
  text-decoration: underline;
  font-weight: normal;
  font-size: var(--font-size-m);
}


.cards {
  background-color: var(--color-bege);
  padding: 40px 20px 150px 20px;

}

.cards h2 {
  font-size: var(--font-size-xxxl);
  align-items: center;
  padding: 120px 90px 58px 90px;
  text-align: center;
  line-height: 60px;
}

.card {
  margin: 16x;
  padding: 40px;
  display: inline-block;
  text-align: center;
  max-width: 32%;
  border: none;
  background-color: var(--color-bege);
}

.card h3 {
  font-size: var(--font-size-l);
  text-align: center;
  padding-bottom: 23px;
  font-weight: 600;
  line-height: 35px;
}

.card p {
  font-size: var(--font-size-xm);
  text-align: center;
  font-weight: 400;
line-height: 30px;
  max-width: 303px;
}

.card img {
  max-width: 160px;
  width: 100%;
  margin-bottom: 25px;
}


.cards_raw {
  background-color: var(--color-almost-white);
}

 .raw {
  align-items: baseline;
 }

.cards_raw h2{
  font-size: var(--font-size-xxxl);
  align-items: center;
  padding: 154px 20px 74px 20px;
  text-align: center;
}

.card_raw {
  padding: 0px 20px 187px 20px;
  display: inline-block;
  text-align: start;
  max-width: 33,33%;
  border: none;
  background-color: var(--color-almost-white);
}

.card_raw h3 {
  font-size: var(--font-size-xl);
  text-align: start;
  padding-bottom: 33px;
  font-weight: 600;
  line-height: 35px;
}

.card_raw p {
  font-size: var(--font-size-m);
  text-align: start;
  font-weight: 400;
  line-height: 30px;
  max-width: 409px;
  padding-bottom: 25px;
}

.card_raw img {
  max-width: 160px;
  flex-direction: row;
  margin-bottom: 56px;
}

.card_raw span {
  font-size: var(--font-size-m);
  text-align: start;
  text-decoration: underline;
  font-weight: 400;
  line-height: 30px;
  padding-top: 25px;
}

.photo .col-section {
  margin: 63px 60px 165px 20px;
}

.photo .description {
  padding: 23px 0 20px;
}

.col-section h3 {
  font-size: var(--font-size-xl);
  font-weight: 400;
  line-height: 40px; 
  align-items: start;
  max-width: 920px;
  padding: 20px 0px 20px 0px;
}

.photo {
  background-color: var(--color-blue);
}

.foto img {
  max-width: 310px;
  width: 100%;
  margin: 53px 20px 105px 60px;
}

.kuchen {
  background-color: var(--color-darkbege);
  padding: 69px 26px 80px 0;
}

.kuchen ~ img {
  max-width: 176px;
  width: 100%;
  margin: 5px 67px 5px 54px;
}


.kuchen h4 {
  font-size: var(--font-size-xxl);
  line-height: 50px;
  max-width: 461px;
}


.kuchen hr {
  width: 1px;
  height: 168px;
  flex-shrink: 0;
  border-color: var(--color-black);
}

.kuchen p {
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.75px;
}

.g2-col {
  display: flex;
  flex-direction: column;
  max-width: 160px;
}

.g2 ~ img {
  max-width: 150px;
  width: 100%;
  padding-bottom: 20px;
}
.g2 {
  padding-bottom: 20px;
}
.carpetta-col {
  display: flex;
  flex-direction: column;
  max-width: 150px;
}

.carpetta ~ img {
  max-width: 150px;
  width: 100%;
  padding-bottom: 20px;
}

.carpetta {
  padding-bottom: 20px;
}

.bird-section {
  margin: 169px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h5 {
  font-size: 65px;
  text-align: center;
  line-height: 75px;
  max-width: 791px;
  margin: 0 259px;
}

.bird-section p {
  max-width: 593px;
  text-align: center;
  font-size: var(--font-size-l);
  font-weight: 400;
  line-height: 30px;
}

.bird-section img {
  max-width: 1023px;
  margin-bottom: 32px;
  width: 100%;
}

.bird-section button {
  max-width: 1053px;
   padding: 19px 20px;
}

main .advertising {
  padding: 140px 0;
  text-align: center;
  background-color: var(--color-darkorange);
}

main .advertising h2 {
  max-width: 790px;
  margin: 0 auto;
  font-size: var(--font-size-xxxxl);
}

main .advertising p {
  max-width: 440px;
  margin: 30px auto 60px;
  font-size: var(--font-size-m);
  font-weight: 400;
line-height: 30px;
}

main .advertising a {
  font-size: 17px;
  line-height: 60px;
  color: #FFFFFF;
  padding: 20px 40px;
  width: 160px;
  background-color: #000000;
  border: 1px solid #000000;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
line-height: 75px;
}

footer {
  background-color: #EEE;
}

footer .content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 95px 55px;
}

footer .content .study {
  max-width: 300px;
}

footer .content .study a {
text-decoration: none;
font-size: var(--font-size-m);
color: var(--color-black);
font-weight: 600;
line-height: 30px;
}

footer .content .study h2 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 25px;
}

footer .content .study p {
  max-width: 400px;
  font-size: var(--font-size-m);
  text-decoration: none;
  color: black;
  font-weight: 400;
line-height: 30px;
padding-bottom: 15px;
}

.logo1 {
  margin: 31px 0 11px;
}

footer .content ul li a {
  text-decoration: none;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 15px;
    }


footer .content ul li a.main {
  font-size: var(--font-size-m);
  line-height: 35px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 35px;
}

footer .footer-rights .footer-sign {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 25px 55px;
}

footer .footer-rights .footer-sign .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
}

footer .footer-rights .footer-sign .logo img {
  max-width: 90px;
  max-height: 22px;
  margin-bottom: 35px;
}

footer .footer-rights .footer-sign .logo p {
  max-width: 300px;
  font-size: 12px;
  line-height: 15px;
  margin-left: 15px;
  font-weight: 400;
  line-height: 15px;
}

footer .footer-rights .footer-sign .rights p {
  font-size: 12px;
  line-height: 15px;
   padding: 10px;
   font-weight: 400;
   line-height: 15px;
}
  
